[submodule "pimid/external/ramulator"]
	path = pimid/external/ramulator
	url = https://github.com/CMU-SAFARI/ramulator2.git
[submodule "pimid/external/cacti"]
	path = pimid/external/cacti
	url = https://github.com/HewlettPackard/cacti.git
[submodule "pimid/external/nvsim"]
	path = pimid/external/nvsim
	url = https://github.com/SEAL-UCSB/NVSim.git
[submodule "pimid/external/mcpat"]
	path = pimid/external/mcpat
	url = https://github.com/HewlettPackard/mcpat.git
[submodule "pimid/external/zsim"]
	path = pimid/external/zsim
	url = https://github.com/s5z/zsim.git
[submodule "pimid/external/gem5"]
	path = pimid/external/gem5
	url = https://github.com/gem5/gem5.git
